name: CI

on:
  pull_request:
    branches:
      - develop
      - main
      - qas
  push:
    branches:
      - develop
      - main
      - qas

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3  # Faz o checkout do reposit贸rio

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm ci
        working-directory: ./api  # Define o diret贸rio de trabalho para este comando

      - name: Install Angular CLI
        run: npm install -g @angular/cli@13
        working-directory: ./api  # Define o diret贸rio de trabalho para este comando

      
      - name: Run unit tests
        run: ng test --watch=false --browsers=ChromeHeadless
        working-directory: ./api  # Define o diret贸rio de trabalho para este comando

